@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF5EF;
  color: #000
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quizBox {
  border-radius: 25px;
  border: 2px dashed #FFF;
  background: #F1E4DB;
  box-shadow: 0px 20px 50px 0px rgba(209, 178, 114, 0.25);
}